/* 12列 */
.row {
    display: flex;
    flex-wrap: wrap;
}
.row .col-1 {
    flex: 0 0 8.33%;
}
.row .col-2 {
    flex: 0 0 16.66%
}
.row .col-3 {
    flex: 0 0 25%;
}
.row .col-4 {
    flex: 0 0 33.33%;
}
.row .col-5 {
    flex: 0 0 41.66%;
}
.row .col-6 {
    flex: 0 0 50%;
}
.row .col-7 {
    flex: 0 0 58.33%;
}
.row .col-8 {
    flex: 0 0 66.66%;
}
.row .col-9 {
    flex: 0 0 75%;
}
.row .col-10 {
    flex: 0 0 83.33%;
}
.row .col-11 {
    flex: 0 0 91.66%
}
.row .col-12 {
    flex: 0 0 100%
}